<app-menu></app-menu>
<!--Main-->
<div class="conteudo">
    <div style="height: 50px"></div>
      
      <div class="row">
          <div class="col-lg-7 ">
            <div class="img">
              <img src="../../../assets/public/main-img.png" class="card-img-top" alt="..." />
            </div>
          </div>

          <div class="col-lg-4 ">
            <div class="texto">
              <p style="margin-top: 170px;">
                <span class="pstrong1">A MAIOR REDE</span><br> 
                <span class="plight">DE PROFESSORES E TRADUTORES</span><br>
                <span class="pstrong2">EM LIBRAS</span>
            </p>
            </div>
            <div class="action-arrow" style="margin-top: 180px;" >
               <span style="font-size: 1.7rem; font-weight: 600;">Saiba Mais</span> 
              <a href="#next-1" style="text-decoration: none;"> <i class="fas fa-arrow-down" 
               style="
               margin-left: 50px;
               font-size: 30px; 
               cursor:pointer; 
               display:flex; 
               color: #F77F00"
               ></i>
            </a>
            </div>
          </div>
  
    </div>
</div>

<div class="conteudo-2">
    <div class="container-text text-center" id="next-1">
        <div style="align-items: center;">
        <h1 style="font-size: 45px; font-weight: 700; margin-top: 200px; color: #003049; margin-bottom: 70px;">O que é a plataforma?</h1>

            <p style="font-size: 40px; font-weight: 400; color: #FFFFFF;">
                No APP Comunica Libras, integramos ouvintes com a comunidade surda de forma simples.<br> 
                Você pode encontrar alguma pessoa com deficiência auditiva e via aplicativo, <br>encontrar um 
                interprete para que ajude a comunicação entre vocês. Este é o primeiro nível onde <br>
                voluntários estarão disponíveis para dar assistência a usuários desta forma.<br>
                No segundo nível, temos professores de libras com seus perfis e contatos, para que você<br>
                o contrate e aprenda efetivamente a linguagem de sinais.
            </p>
        </div>
     
    </div>
</div>



    <div class="conteudo-2">
        <div class="row" id="next-1">
            <div class="col-lg-6 ">
              <div class="img">
                <img src="../../../assets/public/cell.png"  alt="Imagem de duas mulheres conversando em uma video chamada no Smartphone." />
              </div>
            </div>
        
            <div class="col-lg-4 ">
              <div class="texto">

                <h1 style="margin-top: 170px; font-size: 45px; font-weight: 700; margin-top: 200px; color: #003049; margin-bottom: 70px;">Recursos da plataforma:</h1>
                <ol style="font-size: 30px; font-weight: 400; color: #ffff;">
                    <li>1. Aulas gravadas com tradução em Libras.</li>
                    <li>2. Encontre profissionais tradutores.</li>
                    <li>3. Promova o conhecimento e seja um gerador de conteúdo
                        em Libras e ajude a comunidade crescer.</li>
                    <li>4. Promova eventos e compartilhe com a comunidade.</li>
                </ol>

              </div>
            </div>
        </div>
        </div>
    