<div class="container-bk">
  <div style="height: 300px;"></div>
  <div class="container" style="margin-right: 25px;">
    <div class="row">
      <div class="col-4">
        <img src="../../../assets/public/welcome.png" alt="">
      </div>
      <div class="col-6">
        <h1 class="title">PARABÉNS!!</h1>
        <p style=" color: #003049; font-size: 25px; font-weight: 500;">AGORA VOCÊ FAZ PARTE DO TIME</p>
        <h2 routerLink="/" style="cursor: pointer;" class="logo"><span class="comunica">COMUNICA</span><span
            class="libras">LIBRAS</span></h2>
        <div class="d-flex ">
          <button routerLink="/feed" class="btn shadow">Entrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
