<app-menu-feed></app-menu-feed>
<div class="container solid-background d-flex pt-5">
  <div class="" style="position: relative;">
    <!--Cabeçalho-->
    <div class="row" style="margin-top: 20px;">
      <ul class="justify-content-center nav nav-pills mb-3 " id="pills-tab" role="tablist">
        <li class="nav-item px-4" role="presentation">
          <button class="btn-text nav-feed nav-link" [ngClass]="scope.filter.item === 1 ? 'active' : ''"
            (click)="navItem(1)" id="pills-home-tab" type="button" role="tab"> Todos
            Tradutores</button>
        </li>
        <li class="nav-item px-4" role="presentation">
          <button class="btn-text nav-feed nav-link" [ngClass]="scope.filter.item === 2 ? 'active' : ''"
            (click)="navItem(2)" id="pills-profile-tab" type="button" role="tab">Todas Aulas</button>
        </li>
        <li class="nav-item px-4" role="presentation">
          <button class="btn-text nav-feed nav-link" [ngClass]="scope.filter.item === 3 ? 'active' : ''"
            (click)="navItem(3)" id="pills-contact-tab" type="button" role="tab">Todos
            Eventos</button>
        </li>
      </ul>
    </div>

    <!--Conteúdo-->
    <div class="container">
      <div class="row align-items-start">
        <div style="cursor:pointer" class="col" *ngFor="let classroom of classrooms" (click)="redirecionar(classroom)">
          <img width="400px" class="img-tradutor" [src]="classroom.professor.avatar" [alt]="classroom.titulo">
          <div class="card-title">
            <div class="p-2">
              <h5>{{classroom.titulo}}</h5>
              <span>{{classroom.professor.nome}}</span>
            </div>
          </div>
          <div *ngIf="classroom.video !== null" class="card-subtitle">
            <h5>Assista Agora
              <i class="fa fa-play"
                style="margin-left: 10px; padding-top: 10px; font-size: 20px; color: #08B24C; cursor: pointer;"
                aria-hidden="true"></i>
            </h5>
          </div>
          <div *ngIf="classroom.video === null" class="card-subtitle-live">
            <h5>{{classroom.live_inicio | date :'fullDate'}}
              <i class="fa fa-play"
                style="margin-left: 10px; padding-top: 10px; font-size: 20px; color: #08B24C; cursor: pointer;"
                aria-hidden="true"></i>
            </h5>
          </div>
          <div *ngIf="classroom.video === null" class="card-live">
            Live
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
