<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Registro ID <b>#{{data.id}}</b></nb-card-header>
            <nb-card-body>
                <form [formGroup]="formCategory" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="nome" class="label col-sm-3 col-form-label">Nome</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth placeholder="Nome" name="nome" formControlName="nome"
                                [(ngModel)]="data.nome" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEstado" class="label col-sm-3 col-form-label">Estado</label>
                        <div class="col-sm-9">
                            <nb-radio-group class="row" formControlName="inativo">
                                <nb-radio [value]="false">
                                    Habilitado
                                </nb-radio>
                                <nb-radio [value]="true">
                                    Desabilitado
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label></label>
                        <div class="row justify-content-around">

                            <button type="button" nbButton (click)="onBack()">Cancelar</button>

                            <button type="submit" nbButton status="primary" [disabled]="!formCategory.valid">{{isNew ?
                                'Criar'
                                : 'Salvar'}}</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Informações</nb-card-header>
            <nb-card-body>
                <div class="col">
                    <div class="row">
                        <p>Atualizado:</p>&nbsp;{{data.atualizado | date:'dd/M/yyyy HH:mm:ss'}}
                    </div>
                    <div class="row">
                        <p>Criado:</p>&nbsp;{{data.criado | date:'dd/M/yyyy HH:mm:ss'}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>