<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col">
                <h4>Gerenciar Categoria</h4>
            </div>
            <nb-actions size="medium" fullWidth>
                <nb-action (click)="onCreate()">
                    <nb-icon class="action-icon" icon="plus-circle-outline"></nb-icon>
                    <span>Novo</span>
                </nb-action>
            </nb-actions>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>