<!--Navbar-->
<nav class="navbar fixed-top">
    <div class="container-fluid">
    <h2 routerLink="/" style="cursor: pointer;" class="logo"><span class="comunica">COMUNICA</span><span class="libras">LIBRAS</span></h2>
      <form class="d-flex">
        <button routerLink="/login" style="margin-right: 5px;" class="entrar" type="button">Entrar</button>
        <button routerLink="/register" class="cadastrar" type="button">Registre-se</button>
      </form>
    </div>
  </nav>  
  <div style="height: 100px;"></div>