<div class=" overflow-hidden">
    <div class="row gx-5 ">
      <div class="col-4 container-form">
        <div class="conteudo-form" style="height: 935px;">
          <div style="padding-bottom: 100px; display: flex; padding-top: 200px;">
          <h2 class="logo" style="padding-right: 100px;"><span class="comunica">COMUNICA</span><span class="libras">LIBRAS</span></h2>
          <a routerLink="/" style="text-decoration: none;"> <i class="fas fa-arrow-left" 
            style="
            margin-left: 120px;
            font-size: 30px; 
            cursor:pointer; 
            display:flex; 
            color: #F77F00"
            ></i>
         </a>
        </div>
        <h1 class=""><Strong>Entrar com sua conta</Strong></h1>
        <div style="height: 10px"></div>
        <div class="form-group">
          <label for="nome">Nome de usuário</label>
          <input
            [(ngModel)]="usuario.login"
            class="form-control"
            type="text"
            name="nome"
            id="nome"
            placeholder="Ex: João"
          />
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            [(ngModel)]="usuario.senha"
            class="form-control"
            type="password"
            name="senha"
            id="senha"
            placeholder="*******************"
          />

          <br/>
          <div class="d-flex " >
            <button routerLink="/feed" class="btn shadow" (click)="signIn()">Confirmar</button>
          </div>
          <h6 style="padding: 15px; ">
            Ainda não tem uma conta? <a href="/register">Registre-se</a>
          </h6>
      </div>
    </div>
    </div>

    <div class="col-6 container-img"style="height: 1000px;"> 
        <h1 style="color: #FFFFFF; margin-left: 25px;">O JEITO DIVERTIDO DE<br>
          APRENDER LIBRAS</h1>
          <img style="background-size: cover;" src="../../../assets/public/cell.png" alt="">
    </div>
</div>

